# Neon PostgreSQL
DATABASE_postgresql://neondb_owner:npg_pz7nQaLmY0ey@ep-wispy-mouse-alm0i7re-pooler.c-3.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# 32+ belgili kalit (majburiy production'da)
# node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
JWT_SECRET=your_32plus_char_secret_here

# Telegram BotFather'dan
BOT_TOKEN=8689384843:AAHICTazJnxOfi00fwPrlHeMV_-iGXb-1so

# DB init uchun bir martalik kalit
INIT_SECRET=any_random_string

# Frontend URL (CORS)
APP_URL=https://your-project.vercel.app
